<!-- CSS start -->
<style>
	.container {
		text-align: center;
	}

	input[type=text],input[type=password] {
		background: aquamarine;
		border-radius: 5px;
		width: 500px;
	}
	.Main-logo {
		/* text-align: center; */
		color: #000;
		font-size: 122%;
		font-weight: bold;
		margin: 60px;
		margin-bottom: 20px;
    padding: 20px 0;
		border-top: 1px solid #999;
    border-bottom: 1px solid #999;
	}

	.normal-logo {
		/* text-align: center; */
		color: blue;
		font-size: 20px;
		font-weight: bold;
		margin: 30px;
	}

	.error {
		color: red;
		font-weight: bold;
	}
</style>
<!-- bootstrap/4.3.1 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- font-awesome -->
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!-- END -->